<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="randomNumberGenerator" class="org.example.service.impl.RandomNumberGeneratorImpl">

    </bean>

    <bean name="quoteService" class="org.example.service.impl.QuoteServiceImpl">
        <constructor-arg type="org.example.service.RandomNumberGenerator" ref="randomNumberGenerator"/>
    </bean>
</beans>